<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.title}}</title>
</head>
<body>
    <form method="post" action="/add" enctype="multipart/form-data">
        <input type = "hidden" name="userid" value= "{{.userId}}"/>
        <label for="file">Image : </label>
        <input type="file" name="file"/>
        <label for="description">Description : </label>
        <textarea name="description"></textarea>
        <input type="submit"/>
    </form>
</body>
</html>