<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{.title}}</title>
</head>
<body>
    <div class = "posts">
        <div class = "post-content">
            <p>{{.post.UserId}}</p>
            <img src = "/assets/uploads/{{.post.ImageName}}" width="500" height="500">
            <div class = "post-subtitle">
                <p>{{.post.CreatedAt.Format "Jan 02, 2006"}}</p>
                <p>{{.post.Likes}}</p>
            </div>
            <form method="post" action="/edit/description">
                <label for="description">Description : </label>
                <textarea id = "description" name = "description">{{.post.Description}}</textarea>
                <input type="hidden" value="{{.post.Id}}" name="id"/>
                <input type="submit" value="Submit" />
            </form>
        </div>
    </div>
</body>
</html>